---
import Layout from "../layouts/Layout.astro";
import Badge from "@/components/ui/badge.astro";
import Button from "@/components/ui/button.astro";
import { ArrowRight } from "@lucide/astro";
import Header from "@/components/Header.astro";

import { Image } from "astro:assets";
import mountain from "../assets/mountain.jpg";
import screenshotHome from "../assets/screenshot-home.png";
import screenshotAnalyse from "../assets/screenshot-analyse.png";
import screenshotCategory from "../assets/screenshot-category.png";
import screenshotBudget from "../assets/screenshot-budget.png";
import screenshotBalance from "../assets/screenshot-balance.png";
---

<Layout>
  <main
    class="w-full flex flex-col items-center max-w-[1400px] mx-auto pt-4 gap-4 px-4 overflow-x-hidden xl:overflow-x-visible"
  >
    <section
      class="w-full pt-24 sm:pt-28 p-3 flex flex-col gap-8 pb-8 animate-in fade-in duration-1000 fill-mode-backwards"
    >
      <div class="space-y-4">
        <Badge
          class="bg-white text-primary-foreground text-sm px-2.5 py-1 rounded-full font-normal border border-background"
        >
          Beta is now open to everyone!
        </Badge>
        <h1 class="text-5xl sm:text-6xl font-medium">
          Travel better by <br />
          better tracking your expenses.
        </h1>
      </div>

      <div class="text-lg text-muted-foreground w-1/2">
        Tracktrip is a mobile and web app to record and budget your travel
        expenses, solo or with your friends.
      </div>

      <div class="flex sm:items-center gap-3 flex-col sm:flex-row">
        <Button
          variant="default"
          as="a"
          href="/signup"
          size="lg"
          class="font-medium"
          data-umami-event="get-started-click"
        >
          Get started
          <ArrowRight class="size-5" />
        </Button>
        <Button variant="secondary" as="a" href="/docs" size="lg">
          Check documentation
        </Button>
        <div class="text-muted-foreground py-4 text-sm">
          Tracktrip is open-source and free to use.
        </div>
      </div>
    </section>

    <section class="relative h-[800px] w-full flex justify-center max-w-full">
      <div
        class="animate-in fade-in duration-1000 absolute -translate-x-2/3 fill-mode-backwards"
      >
        <Image
          src={screenshotHome}
          alt="Screenshot of Tracktrip"
          class="rounded-xl ring-4 ring-white shadow-[0_4px_96px_8px_rgba(0,0,0,0.5)] w-[400px] bg-white skew-x-[25deg] -rotate-[20deg]"
          width="400"
          layout="fixed"
          priority
        />
      </div>
      <div
        class="animate-in fade-in duration-1000 absolute delay-500 fill-mode-backwards"
      >
        <Image
          src={screenshotAnalyse}
          alt="Screenshot of Tracktrip"
          class="rounded-xl ring-4 ring-white shadow-[0_4px_96px_8px_rgba(0,0,0,0.5)] w-[400px] bg-white skew-x-[25deg] -rotate-[20deg]"
          width="400"
          layout="fixed"
          priority
        />
      </div>
      <div
        class="animate-in fade-in duration-1000 absolute translate-x-2/3 delay-1000 fill-mode-backwards"
      >
        <Image
          src={screenshotCategory}
          alt="Screenshot of Tracktrip"
          class="rounded-xl ring-4 ring-white shadow-[0_4px_96px_8px_rgba(0,0,0,0.5)] w-[400px] bg-white skew-x-[25deg] -rotate-[20deg]"
          width="400"
          layout="fixed"
          priority
        />
      </div>
    </section>
  </main>

  <div class="w-full h-[400px] relative overflow-hidden my-20">
    <Image
      src={mountain}
      alt="Mountain"
      class="absolute w-full greyscale top-1/2 transform -translate-y-1/2"
      layout="full-width"
      width="1920"
    />
    <div
      class="w-full max-w-[1400px] mx-auto h-full pt-8 px-12 relative gap-8 flex flex-col justify-center"
    >
      <h2 class="text-5xl text-foreground font-semibold">
        MADE FOR <br />
        MODERN TRAVELLERS
      </h2>

      <div>
        <Button variant="secondary" as="a" href="/why">
          Discover why
          <ArrowRight class="size-5" />
        </Button>
      </div>
    </div>

    <div
      class="absolute top-0 left-0 right-0 h-16 bg-gradient-to-b from-background to-transparent"
    >
    </div>
    <div
      class="absolute bottom-0 left-0 right-0 h-16 bg-gradient-to-t from-background to-transparent"
    >
    </div>
  </div>

  <main
    class="w-full max-w-[1400px] mx-auto pt-8 px-4 space-y-16 sm:space-y-96 sm:pb-32 relative"
  >
    <section
      class="w-full sm:w-1/2 px-4 sm:px-8 space-y-8"
      data-image="screenshotBudget"
    >
      <Header title="Before your trip" desc="Setup your budget easily" />

      <div class="text-muted-foreground">
        Create <span class="text-foreground">budgets</span> for each category of expenses
        and forecast how much you will spend.
      </div>

      <Button variant="secondary" as="a" href="/docs/budgets">
        Learn about budgets
        <ArrowRight class="size-5" />
      </Button>

      <Image
        src={screenshotBudget}
        alt="Screenshot of budget setting"
        class="sm:hidden rounded-xl ring-4 ring-ring shadow-up-xl w-full"
        layout="constrained"
        width="640"
      />
    </section>

    <section
      class="w-full sm:w-1/2 px-4 sm:px-8 space-y-8"
      data-image="screenshotTransactions"
    >
      <Header
        title="During your trip"
        desc="Track expenses and control your spendings"
      />

      <div class="text-muted-foreground">
        Create
        <span class="text-foreground">transactions</span> seemlessly on the go and
        <span class="text-foreground">analyse</span> your expenses in real time to
        stay within your budget.
      </div>

      <Button variant="secondary" as="a" href="/docs/transactions">
        Learn about transactions
        <ArrowRight class="size-5" />
      </Button>

      <Image
        src={screenshotAnalyse}
        alt="Screenshot of analyse"
        class="sm:hidden rounded-xl ring-4 ring-ring shadow-up-xl w-full"
        layout="constrained"
        width="640"
      />
    </section>

    <section
      class="w-full sm:w-1/2 px-4 sm:px-8 space-y-8"
      data-image="screenshotTravellers"
    >
      <Header title="After your trip" desc="Settle the balances and analyse" />

      <div class="text-muted-foreground">
        Review your expenses and settle up with your friends. Analyse your
        spending habits and improve your budgeting for next time.
      </div>

      <Button variant="secondary" as="a" href="/docs/travellers">
        Learn about travellers
        <ArrowRight class="size-5" />
      </Button>

      <Image
        src={screenshotBalance}
        alt="Screenshot of travellers balances"
        class="sm:hidden rounded-xl ring-4 ring-ring shadow-up-xl w-full"
        layout="constrained"
        width="640"
      />
    </section>

    <div
      id="imageContainer"
      class="absolute top-0 right-0 p-8 w-1/2 hidden sm:flex h-full flex-col"
    >
      <div
        id="stickyImageContainer"
        class="sticky top-20 mx-auto max-w-[480px] w-full"
      >
        <Image
          id="imageBudget"
          src={screenshotBudget}
          alt="Screenshot of budget setting"
          class="rounded-xl ring-4 ring-ring shadow-up-xl w-full opacity-100 transition-opacity duration-500"
          width="480"
          layout="constrained"
        />
        <Image
          id="imageTransactions"
          src={screenshotAnalyse}
          alt="Screenshot of analyse"
          class="absolute top-0 rounded-xl ring-4 ring-ring shadow-up-xl w-full opacity-0 transition-opacity duration-500"
          width="480"
          layout="constrained"
        />
        <Image
          id="imageTravellers"
          src={screenshotBalance}
          alt="Screenshot of travellers balances"
          class="absolute top-0 rounded-xl ring-4 ring-ring shadow-up-xl w-full opacity-0 transition-opacity duration-500"
          width="480"
          layout="constrained"
        />
      </div>
      <div id="imageEnd" class="h-px absolute bottom-0"></div>
    </div>
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll("section");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const imageKey = entry.target.getAttribute("data-image");
            // Hide all images
            document.getElementById("imageBudget").style.opacity = 0;
            document.getElementById("imageTransactions").style.opacity = 0;
            document.getElementById("imageTravellers").style.opacity = 0;

            // Show the correct image
            if (imageKey === "screenshotBudget") {
              document.getElementById("imageBudget").style.opacity = 1;
            } else if (imageKey === "screenshotTransactions") {
              document.getElementById("imageTransactions").style.opacity = 1;
            } else if (imageKey === "screenshotTravellers") {
              document.getElementById("imageTravellers").style.opacity = 1;
            }
          }
        });
      },
      { threshold: 0.5, rootMargin: "0px 0px -50% 0px" },
    );

    sections.forEach((section) => {
      observer.observe(section);
    });

    const lastSection = document.getElementById("imageEnd");
    const stickyContainer = document.getElementById("stickyImageContainer");
    const imageContainer = document.getElementById("imageContainer");
    const endObserver = new IntersectionObserver(
      ([entry]) => {
        if (entry.isIntersecting) {
          stickyContainer.classList.remove("sticky");
          stickyContainer.classList.remove("top-20");
          imageContainer.classList.add("justify-end");
          stickyContainer.classList.add("relative");
        } else {
          stickyContainer.classList.add("sticky");
          stickyContainer.classList.add("top-20");
          imageContainer.classList.remove("justify-end");
          stickyContainer.classList.remove("relative");
        }
      },
      { threshold: 0.0 },
    );

    endObserver.observe(lastSection);
  });
</script>
