---
import Badge from "@/components/ui/badge.astro";
import { ArrowRight, ChartPie } from "@lucide/astro";
import Header from "@/components/Header.astro";

import { Image } from "astro:assets";
import screenshotHome from "../assets/screenshot-home.png";
import screenshotAnalyse from "../assets/screenshot-analyse.png";
import screenshotCategory from "../assets/screenshot-category.png";
import screenshotBudget from "../assets/screenshot-budget.png";
import alexis from "../assets/alexis.jpg";
---

<main
  class="w-full flex flex-col items-center max-w-[1400px] mx-auto pt-4 gap-4 px-4 overflow-x-hidden xl:overflow-x-visible"
>
  <section
    class="w-full pt-24 sm:pt-28 p-3 flex flex-col gap-8 pb-8 animate-in fade-in duration-1000 fill-mode-backwards"
  >
    <div class="space-y-4">
      <Badge
        class="bg-white text-primary-foreground text-sm px-2.5 py-1 rounded-full font-normalborder border-background"
      >
        Beta is now open to everyone!
      </Badge>
      <div class="text-5xl sm:text-6xl font-medium">
        Travel better by <br />
        better tracking your expenses.
      </div>
    </div>

    <div class="text-lg text-muted-foreground w-1/2">
      Tracktrip is a mobile and web application to record and budget your travel
      expenses, solo or with your friends.
    </div>

    <div class="flex sm:items-center gap-3 flex-col sm:flex-row">
      <a
        href="/login"
        class="inline-flex justify-center items-center px-5 py-3 rounded-full font-medium tracking-tight transition-colors bg-primary text-primary-foreground hover:bg-card max-sm:text-sm"
      >
        Get started
        <ArrowRight class="ml-2 size-5" />
      </a>
      <a
        href="/docs"
        class="inline-flex justify-center px-5 py-3 rounded-full font-medium tracking-tight transition-colors bg-accent text-accent-foreground max-sm:text-sm border border-background"
      >
        Learn more
      </a>
      <div class="text-subtle-foreground py-4">Tracktrip is free to use.</div>
    </div>
  </section>

  <section class="relative h-[700px] w-full flex justify-center max-w-full">
    <div
      class="animate-in fade-in duration-1000 absolute -translate-x-2/3 fill-mode-backwards delay-1000"
    >
      <Image
        src={screenshotHome}
        alt="Screenshot of Tracktrip"
        class="rounded-xl ring-4 ring-white shadow-[0_4px_96px_8px_rgba(0,0,0,0.5)] w-[400px] bg-white skew-x-[25deg] -rotate-[20deg]"
      />
    </div>
    <div
      class="animate-in fade-in duration-1000 absolute delay-1500 fill-mode-backwards"
    >
      <Image
        src={screenshotAnalyse}
        alt="Screenshot of Tracktrip"
        class="rounded-xl ring-4 ring-white shadow-[0_4px_96px_8px_rgba(0,0,0,0.5)] w-[400px] bg-white skew-x-[25deg] -rotate-[20deg]"
      />
    </div>
    <div
      class="animate-in fade-in duration-1000 absolute translate-x-2/3 delay-2000 fill-mode-backwards"
    >
      <Image
        src={screenshotCategory}
        alt="Screenshot of Tracktrip"
        class="rounded-xl ring-4 ring-white shadow-[0_4px_96px_8px_rgba(0,0,0,0.5)] w-[400px] bg-white skew-x-[25deg] -rotate-[20deg]"
      />
    </div>
  </section>

  <section
    class="flex justify-between px-1 sm:px-8 w-full gap-8 flex-col-reverse sm:flex-row"
  >
    <div class="py-8 text-4xl font-light tracking-wide">
      <div class="mt-16">
        Made by people who love to travel, <br />
        for people that love to travel.
      </div>

      <div class="border rounded mt-14 sm:mt-24 bg-card flex shadow">
        <div
          class="size-[160px] overflow-hidden rounded-l shrink-0 hidden sm:block"
        >
          <Image src={alexis} alt="Alexis" />
        </div>
        <div class="p-6">
          <div
            class="font-medium uppercase font-mono text-subtle-foreground text-base"
          >
            Alexis
          </div>
          <div class="text-base mt-2">
            👋 I'm the creator of Tracktrip. I'm a traveler and a developer. I
            created Tracktrip during a train trip in Europe to help me track my
            expenses while traveling.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="w-full px-4 sm:px-8">
    <Header
      title="Before your trip"
      desc="Create budgets for each category of expenses and forecast how much you will spend."
    />

    <div class="flex gap-8 pb-20 flex-col sm:flex-row">
      <Image
        src={screenshotBudget}
        alt="Screenshot of budget setting"
        class="relative z-10 rounded-xl ring-4 ring-ring shadow-up-xl w-[400px]"
      />
      <div>
        <div class="border bg-card rounded-xl p-4 size-16">
          <ChartPie class="size-8" />
        </div>

        <div class="text-lg mt-4">
          The best way to control your travel expenses is to set a budget in
          advance. With our budgetting tool, you can evaluate how your daily
          budget will influence what you will spend in total.
        </div>
      </div>
    </div>

    <Header
      title="During your trip"
      desc="Create transactions seemlessly on the go and analyse your expenses in real time to stay within your budget."
    />

    <Header
      title="After your trip"
      desc="Review your expenses and settle up with your friends. Analyse your spending habits and improve your budgeting for next time."
    />
  </section>

  <section class="border bg-card rounded-xl p-8 w-full pb-20">
    <div
      class="font-semibold mb-2 text-xl font-mono uppercase text-muted-foreground"
    >
    </div>
    <div class="text-xl"></div>
  </section>
</main>
